.content{
  background: #000;
  color: #fff;
  font-family: 'Microsoft Yahei', Tahoma, Arial;
  font-size: 12px;

  p {
    margin: 4px 0;
  }

  .info {
    color: #fff;
  }

  .warn {
    color: orange;
  }

  .log {
    color: green;
  }

  .debug {
    color: #00d0ff;
  }

  .error {
    color: red;
  }
}